.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.cv {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  gap: 20px;
}
