.default-form {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  padding: 5px 5px;
  border-radius: 12px;
}

.form-info {
  border: 1px solid black;
  border-radius: 10px;
}

.project-element {
  padding: 10px 20px;
  display: flex;
  gap: 26px;
}

.project-input {
  display: flex;
  align-items: center;
  gap: 12px;
}
